::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); 
    background: rgb(49, 30, 156);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); 
    background: rgb(86, 66, 201);
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(66, 49, 165);
}
.hide {
    display: none !important;
}
.hashtagFilter_hide {
    display: none;
}

.menu h1 {
    text-align: center;
    color: white;
    margin: 20px 0 10px 0;
}

.container {
    position: relative;
    padding-top: 20px;
    overflow-x: auto;
    background: rgb(66, 49, 165);
    margin: 0 10px;
    height: 90vh;
}
.articles {
    width: 370px;
    overflow: hidden;
    margin: 0px 20px 20px 20px;
}
.newStatus,
.articles article{
    display: inline-block;
    overflow-y: auto;
    max-height: 83vh;
    width: 370px;
    vertical-align: top;
    background: rgb(71, 49, 199);
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(1, 8, 65, 0.5);
}

ul {
    list-style-type: none;
    padding: 0; 
    padding-bottom: 20px;
}
li.task {
    width: 330px;
    margin: 10px auto 0 auto;
}

.article__color {
    width: 150px;
    cursor: grabbing;
    height: 15px;
    border-radius: 5px;
    margin: 20px 0 0 15px;
}
.task__color {
    width: 330px;
    cursor: grabbing;
    height: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.hashtagValue {
    cursor: text;
    background: #4763FF !important;
}
.task__content {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.task__menu {
    justify-content: space-between;
}
.task__menu .check{
    margin-right: 10px; 
}
.task__menu,
.task__name, 
.task__hashTags {
    padding: 5px;
    display: flex;
}
.task__menu__change {
    display: flex;
}
.task__menu,
.task__hashTags {
    padding-top: 0;
}
.openText{
    padding: 10px 10px 5px 10px;
    font-size: 14px;
    height: auto;
    text-align: left;
    width: 255px;
    margin-left: 5px;
    background: rgb(52, 73, 196) !important;
    overflow: hidden;
}
.openText,
.task__menu input[type="text"],
.task__name input[type="text"]{
    background: #4D79E8;
    border-radius: 4px;
}
.task__name input[type="text"]{
    margin-left: 5px;
    width: 325px;
}
.task__hashTags {
    flex-wrap: wrap;
}
.task__hashTags div{
    background: #4794FF;
    font-size: 14px;
    padding: 4px 8px;
    margin: 2px;
    color: white;
    border-radius: 15px;
    border: 0;
    max-width: 350px;
    overflow: hidden;
}

.time-buttons {
    position: fixed;
    top: 10px;
    right: 10px;
}

.article__head {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.article__head h2{
    margin: auto 0;
}
.article__head__menu,
.task__add__menu {
    position: relative;
}
.choose-color,
.article__head__menu__buttons,
.task__add__menu__buttons {
    position: absolute;
    box-shadow: 0 0 10px rgba(1, 8, 65, 0.5);
    background: white;
    border-radius: 5px;
}
.article__head__menu__buttons {
    top: -5px;
    left: -160px;
}
.article__head__menu__buttons button{
    margin: 5px !important;
}

.choose-color {
    display: flex;
    bottom: -33px;
    right: -10px;
    z-index: 1;
    padding: 2px;
}
.choose-color span {
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
}
/*---------Buttons & Inputs----------*/
button.i {
    width: 36px;
    height: 35px;
    border: 0;
    background: cornflowerblue;
    color: white;
    cursor: pointer;
    margin: 1px;
    border-radius: 4px;
}
.openText,
.taskNameValue,
.taskName,
.hashtagValue {
    color: white;
    height: 35px;
    border: 0;
    padding: 0 0 0 7px;
    margin: 1px;
    position: relative;
    cursor: default;
} 
.taskNameValue::placeholder,
.taskName::placeholder,
.hashtagValue::placeholder {
    color: rgb(171, 178, 185);
} 
.active {
    background: #4763FF !important;
}

.task__add__button_open,
.status__add__button_open {
    background: cornflowerblue;
    color: white;
    border: 0;
    cursor: pointer;
    margin: 10px;
    width: 310px;
    height: 35px;
    border-radius: 5px;
}

.task__add__button_add,
.status__add__button_add {
    background: rgb(30, 153, 30);
    color: white;
    border: 0;
    cursor: pointer;
    margin: 1px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.status__add__value,
.task__add__value {
    background: white;
    color: black;
    border: 0;
    margin: 10px;
    width: 303px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    cursor: text;
    border-radius: 5px;
    vertical-align: top;
    resize: none;
}

.status__add__buttons,
.task__add__buttons_change {
    margin-left: 9px;
}
/*--------------Status__add--------------*/
.status__add {
    width: 330px;
    margin: 10px auto;
}
.status__add__buttons {
    padding-bottom: 10px;
}
.status__add__value {
    padding: 12px 0 0px 10px;
}
/*--------------Task__add--------------*/
.task__add {
    width: 330px;
    margin: 10px auto 0 auto;
    padding-bottom: 20px;
}
.task__add__adding-block {
    padding-bottom: 10px;
}
.task__add__content {
    background: white;
    border-radius: 5px;
}
.task__add__value {
    padding: 10px 0 50px 7px;
}
.task__add__value::placeholder {
    color: rgb(124, 128, 133);
}

.task__add__button_menu {
    margin-right: 10px !important;
}
.task__add__buttons {
    display: flex;
    justify-content: space-between;
}
.task__add__menu__buttons {
    top: -40px;
    left: -60px;
    padding: 0 5px;
}
.task__add__menu__buttons button {
    margin: 5px !important;
}

/*--------------Colors--------------*/
.blue,
.blue .task__color,
.blue .article__color,
.newTask .taskName,
.newTask .hashtagValue,
.taskNameValue {
    background: #4D79E8;
}
.yellow,
.yellow .task__color,
.yellow .article__color {
    background: rgb(218, 218, 55);
}
.red,
.red .task__color,
.red .article__color {
    background: red;
}
.green,
.green .task__color,
.green .article__color {
    background: rgb(30, 153, 30);
}
.purple,
.purple .task__color,
.purple .article__color {
    background: slateblue;
}
.lightgreen,
.lightgreen .task__color,
.lightgreen .article__color {
    background: rgb(173, 255, 47);
}
.orange,
.orange .task__color,
.orange .article__color {
    background: rgb(233, 142, 23);
}


.blue h2 {
    color: #4D79E8;
}
.yellow h2 {
    color: rgb(218, 218, 55);
}
.red h2 {
    color: red;
}
.green h2 {
    color: rgb(30, 153, 30);
}
.purple h2 {
    color: slateblue;   
}
.lightgreen h2 {
    color: rgb(173, 255, 47);
}
.orange h2 {
    color: rgb(233, 142, 23);
}
/*------------------------------------*/