::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background:  #3e3e3e;
}
h1 {
    color: white;
}

.listStatuses .task__color,
.newTask .taskName,
.newTask .hashtagValue,
.statuses,
.taskNameValue {
    background: #4D79E8;
}
.listPending .task__color,
.pending {
    background: rgb(218, 218, 55);
}
.listCancel .task__color,
.cancel {
    background: red;
}
.listDone .task__color,
.done {
    background: green;
}

.head_statuses {
    color: #4D79E8;
}
.head_pending {
    color: rgb(218, 218, 55);
}
.head_cancel {
    color: red;
}
.head_done {
    color: green;
}

.hashtagFilter_hide {
    display: none;
}

.taskNameValue {
    width: 300px;
}

.hide {
    display: none;
}
.container {
    background: rgb(66, 49, 165);
    width: 500px;
    margin: 50px auto 50px auto;
    text-align: center;
    min-height: 650px;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0; 
    min-height: 100px;
    padding-bottom: 20px;
}
li {
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}

.task {
    width: 330px;
    margin: 10px auto 0 auto;
}

.task__color {
    width: 330px;
    cursor: grabbing;
    height: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.hashtagValue {
    cursor: text;
    background: #4763FF !important;
}
.task__content {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.task__menu {
    justify-content: space-between;
}
.task__menu .check{
    margin-right: 10px; 
}
.task__menu,
.task__name, 
.task__hashTags {
    padding: 5px;
    display: flex;
}
.task__menu__change {
    display: flex;
}
.task__menu,
.task__hashTags {
    padding-top: 0;
}
.openText{
    padding: 10px 10px 5px 10px;
    font-size: 14px;
    height: auto;
    text-align: left;
    width: 255px;
    margin-left: 5px;
    background: rgb(52, 73, 196) !important;
    overflow: hidden;
}
.openText,
.task__menu input[type="text"],
.task__name input[type="text"]{
    background: #4D79E8;
    border-radius: 4px;
}
.task__name input[type="text"]{
    margin-left: 5px;
    width: 325px;
}
.task__hashTags {
    flex-wrap: wrap;
}
.task__hashTags div{
    background: #4794FF;
    font-size: 14px;
    padding: 4px 8px;
    margin: 2px;
    color: white;
    border-radius: 15px;
    border: 0;
    max-width: 350px;
    overflow: hidden;
}
.containerNew {
    position: relative;
    padding-top: 20px;
    overflow-x: auto;
    background: rgb(66, 49, 165);
    margin: 10px;
    height: 96vh;
}

.containerNew h1 {
    position: fixed;
    top: 20px;
    right: 50%;
    transform: translate(50%, 0);
    margin-top: 10px;
}

.containerNew .articles{
    width: 2500px;
    overflow: hidden;
    margin: 70px 20px 20px 20px;
}

.containerNew article{
    display: inline-block;
    overflow-y: auto;
    max-height: 84vh;
    width: 370px;
    vertical-align: top;
    background: rgb(71, 49, 199);
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(1, 8, 65, 0.5);
}
.containerNew article h2 {
    text-align: center;
}

.time-buttons {
    position: fixed;
    top: 0;
    right: 0;
}

/*---------Buttons & Inputs----------*/
button.i {
    width: 36px;
    height: 35px;
    border: 0;
    background: #4794FF;
    color: white;
    cursor: pointer;
    margin: 1px;
    border-radius: 4px;
}
.openText,
.taskNameValue,
.taskName,
.hashtagValue {
    color: white;
    height: 35px;
    border: 0;
    padding: 0 0 0 7px;
    margin: 1px;
    position: relative;
    cursor: default;
} 
.taskNameValue::placeholder,
.taskName::placeholder,
.hashtagValue::placeholder {
    color: rgb(171, 178, 185);
} 
.active {
    background: #4763FF !important;
}

.task__add__button_open,
.status__add__button_open {
    background: cornflowerblue;
    color: white;
    border: 0;
    cursor: pointer;
    margin: 10px;
    width: 310px;
    height: 35px;
    border-radius: 5px;
}

.task__add__button_add,
.status__add__button_add {
    background: rgb(30, 153, 30);
    color: white;
    border: 0;
    cursor: pointer;
    margin: 1px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.status__add__value,
.task__add__value {
    background: white;
    color: black;
    border: 0;
    margin: 10px;
    width: 303px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    cursor: text;
    border-radius: 5px;
    vertical-align: top;
    resize: none;
}

.status__add__buttons_change,
.task__add__buttons_change {
    margin-left: 9px;
}

/*--------------Status__add--------------*/
.status__add {
    width: 330px;
    margin: 10px auto 0 auto;
    padding-bottom: 20px;
}
.status__add__value {
    padding: 10px 0 10px 7px;
}
/*--------------Task__add--------------*/
.task__add {
    width: 330px;
    margin: 10px auto 0 auto;
    padding-bottom: 20px;
}
.task__add__adding-block {
    padding-bottom: 10px;
}
.task__add__content {
    background: white;
    border-radius: 5px;
}
.task__add__value {
    padding: 10px 0 50px 7px;
}
.task__add__value::placeholder {
    color: rgb(124, 128, 133);
}

.task__add__button_menu {
    margin-right: 10px !important;
}
.task__add__buttons {
    display: flex;
    justify-content: space-between;
}
.task__add__menu {
    position: relative;
}
.task__add__menu__buttons {
    position: absolute;
    top: -40px;
    left: -60px;

    box-shadow: 0 0 10px rgba(1, 8, 65, 0.5);
    background: white;
    border-radius: 5px;
}
.task__add__menu__button_add-hashtags {
    margin: 5px 10px 5px 10px !important;
}